<a href="https://colab.research.google.com/github/bangalorejainmujeeb/banagalorejainmusharaf/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

# Step 1: Create a Sample Dataset
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Experience_Years': [2, 5, np.nan, 7, 10, np.nan, 15, 8, 6, np.nan],
    'Salary': [40000, 55000, 50000, np.nan, 72000, 68000, 75000, np.nan, 45000, 53000],
    'Role': ['Engineer', 'Manager', 'Analyst', 'Manager', 'Engineer', 'Analyst', np.nan, 'Manager', 'Engineer', 'Analyst']
}

df = pd.DataFrame(data)

# Step 2: Handle Missing Values
df['Experience_Years'] = df['Experience_Years'].fillna(df['Experience_Years'].median())  # Filling missing Experience_Years with median
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())  # Filling missing Salary with mean
df['Role'] = df['Role'].fillna(df['Role'].mode()[0])  # Filling missing Role with mode

# Step 3: Convert Categorical Variables using One-Hot Encoding
df = pd.get_dummies(df, columns=['Role'], drop_first=True)  # One-hot encoding

# Display the cleaned dataset
print("Cleaned Dataset:")
print(df)

Cleaned Dataset:
   Employee_ID  Experience_Years   Salary  Role_Engineer  Role_Manager
0          101               2.0  40000.0           True         False
1          102               5.0  55000.0          False          True
2          103               7.0  50000.0          False         False
3          104               7.0  57250.0          False          True
4          105              10.0  72000.0           True         False
5          106               7.0  68000.0          False         False
6          107              15.0  75000.0          False         False
7          108               8.0  57250.0          False          True
8          109               6.0  45000.0           True         False
9          110               7.0  53000.0          False         False