<a href="https://colab.research.google.com/github/bangalorejainmujeeb/banagalorejainmusharaf/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

# Step 1: Create a Sample Dataset
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Age': [25, 30, np.nan, 40, 35, np.nan, 50, 45, 38, np.nan],
    'Salary': [50000, 60000, 55000, np.nan, 65000, 70000, 72000, np.nan, 48000, 58000],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', np.nan, 'IT', 'HR', 'Finance']
}

df = pd.DataFrame(data)

# Step 2: Handle Missing Values (Without inplace=True)
df['Age'] = df['Age'].fillna(df['Age'].median())  # Filling missing Age with median
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())  # Filling missing Salary with mean
df['Department'] = df['Department'].fillna(df['Department'].mode()[0])  # Filling missing Department with mode

# Step 3: Convert Categorical Variables using One-Hot Encoding
df = pd.get_dummies(df, columns=['Department'], drop_first=True)  # One-hot encoding

# Display the cleaned dataset
print("Cleaned Dataset:")
print(df)

Cleaned Dataset:
   ID   Age   Salary  Department_HR  Department_IT
0   1  25.0  50000.0           True          False
1   2  30.0  60000.0          False           True
2   3  38.0  55000.0          False          False
3   4  40.0  59750.0          False           True
4   5  35.0  65000.0           True          False
5   6  38.0  70000.0          False          False
6   7  50.0  72000.0          False          False
7   8  45.0  59750.0          False           True
8   9  38.0  48000.0           True          False
9  10  38.0  58000.0          False          False